/*/////////////////////////////////////////////////////////////////////*/
/*///////////////////////// דף רספונסיבי לבוט //////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 500px) {
    header {
        WIDTH: CALCL(VAR(--WWIND)+15PX) !IMPORTANT;
        MIN-WIDTH: 0 !IMPORTANT;
    }
    footer{
        display:none;
    }
    html {
        width: CALCL(VAR(--WWIND)+15PX) !IMPORTANT;
        height: 100%;
        overflow: hidden;
        position: sticky;
        min-width: 0;
    }

    #container > header > nav > ul > li>a{
    right: 26px;
    }

    #container > header > nav > ul > li:nth-child(N+2) {
        display: none;
    }
    #container {
        min-width: 0px;
        margin: 0 !important;
        WIDTH: CALCL(VAR(--WWIND)+15PX) !IMPORTANT;
        zoom: 0 !important;
        overflow-x: hidden;
    }
    body {
        height: 100%;
        width: CALCL(VAR(--WWIND)+15PX) !IMPORTANT;
        min-width: 0;
    }
    #allbotpage {
        height: 100%;
        width: CALCL(VAR(--WWIND)+15PX) !IMPORTANT
    }
    #h1und {
        margin: 10px;
        text-align: center;
        font-size: 44px;
    }
    #mebot{
        background-image:none;
        margin:10px !important;
        float:right;
        right:0;
    }
        #mebot > div {
            margin: 0px;
            background-image: url('../image/bot/Asset 2@2x.png');
            height: 127px;
            width: 294px;
            background-size: 294px 127px;
        }

    #answerbot {
        position: relative;
        bottom: 256px;
        background-position: bottom CENTER;
        background-image: none;
        float: left;
        LEFT: -56px;
    }

        #answerbot > div {
            background-image: url('../image/bot/Asset 3@2x.png');
            height: 127px;
            width: 294px;
            background-size: 294px 127px;
        }

    #botquet {
        background-color: transparent;
        border: 2px solid black;
        transform: rotate(0deg);
        margin-right: 34px;
        top: 14px;
    }
    #botbut {
        transform: rotate(0deg);
        top: 9px;
        margin-right: 121px;
    }
    #bottopage {
        transform: rotate(0deg);
        margin: 17px 116px;
    }

    #theanswer {
        padding-right: 17px;
        height: 68px;
        font-size: 13px;
        padding-left: 43px;
        padding-top: 13px;
    }
}
