@font-face {
    font-family: 'nehama';
    src: url('../font/nehama-webfont.woff') format('woff');
}
@font-face {
    font-family: nehama;
    src: url('../font/nehama-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Game of Thrones';
    src: url('../font/Game of Thrones.ttf') format('truetype');
}

body {
    scroll-behavior: smooth;
    direction: rtl;
}

:root {
    --spink: #ff36a2;
    --sblue: #3cc1f8;
    --spurple: #B30098;
    --syellow: #ffeb01;
    --sgreen: #4FC97C;
    --sfont: #1A1D1E;
    --spink-hover: #c03c7b;
    --sblue-hover: #2f95a1;
    --spurple-hover: #922977;
    --syellow-hover: #c3ae33;
    --sgreen-hover: #539764;
    --wwwind: 0px;
    --hwwind: 0px;
    --zoomi:0px;
}
/*--sfont: #212728;*/
/*--spink: #ff36a2;
--sblue: #2cc1d7;
--spurple: #942884;
--syellow: #ffeb01;
--sgreen: #64ca89;*/


::selection {
    background-color: rgba(255,54,162,0.99);
    color: black;
    -webkit-text-stroke: orchid;
    -webkit-text-fill-color: black;
    text-shadow: none;
}

#container {
    width: var(--wwwind) !important;
    min-width: 1263px;
    max-width: 1384px;
    padding: 0 0;
    font-family: 'Varela Round';
    font-weight: normal;
    color: var(--sfont);
    zoom: var(--zoomi);
}

    #container > header {
        background-color: var(--spink);
        height: 50px;
        position: sticky;
        top: 0;
        width: var(--wwwind);
        min-width: 1263px;
        max-width: 1384px;
        z-index: 100;
    }

@media screen and (max-width: 800px) {
    #container > header {
        position: relative;
    }
}

    #container > header > nav {
        width: 900px;
display:inline-block;
    }

    #container > header > nav>ul {
        width: 900px;
        display: inline-block;
    }


#container > header > nav > ul > li {
        list-style: none;
        width: 110px;
        display: inline-block;
        text-align: center;
        font-size: 12pt;
        line-height: 20px;
        margin-top: 15px;
    }
#container > header > nav > ul > li > a  {
color:var(--sfont);
    }

#container>header>nav>ul>li:nth-child(n+3){
    border-right: 1px dotted black;
}


#container > header nav ul li a:hover, #container > header nav ul li a:focus {
    color: white;
    cursor: default;
    text-decoration: none;
}

#container>header nav ul li ul li a:hover{
    cursor: pointer;
    }    

#container>header nav ul li:hover>ul{
    display:block;

}

#container > header nav ul li > ul {
    width: 130px;
    padding: 13px 0 0 0;
    font-size: 10pt;
    height: auto;
    line-height: 35px;
    list-style: none;
    text-align: center;
    background-color: var(--spink);
    color: var(--sfont);
    border-radius: 4px;
    margin-right: -10px;
}
    #allnav > ul > li > a:focus + .submenu, #allnav > ul > li:focus .submen, .submen:focus {
    width: 120px;
    padding: 13px 0 0 0;
    font-size: 10pt;
    height: auto;
    line-height: 35px;
    list-style: none;
    text-align: center;
    background-color: var(--spink);
    color: var(--sfont);
    border-radius: 4px;
    margin-right: -10px;
}

#here {
    font-weight: bold;
    color: #000B6B !important;
}


#container > header nav ul li ul li:hover, #container > header nav ul li ul li:focus {
    color: white;
}

#container>header nav ul li ul li a {
        color: var(--sfont);
        width:120px;
        height:35px;
        display:inline-block;
        font-size:10pt;
    }

#container>header nav ul li ul li a:hover {
        color: white;
        text-decoration:none;
    }

.anotwork:hover{
    cursor:not-allowed !important;
}

/*תפריט נגיש*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

nav ul,
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 1px;
}


/*
        Demo
      */
.show-nav {
    position: fixed;
    top: 0;
    right: 0;
}

.nav__list {
    position: relative;
    z-index: 2;
}

    .nav__list > li {
        display: inline-block;
    }

    .nav__list a {
        display: block;
        position: relative;
        z-index: 2;
    }

        .nav__list a:focus {
            color: white !important;
        }

.has-drop {
    position: relative;
}

.nav__list__drop {
    left: 0;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    opacity: 0;
    transform: translateY(-20px);
    height: 1px !important;
    overflow: hidden;
    z-index: 1;
}

.nav__list__drop {
    border-top: 0;
    min-width: 100%;
    display: block;
}

    .nav__list a:focus + .nav__list__drop,
    .has-drop:hover .nav__list__drop,
    .nav__list__drop:focus-within {
        opacity: 1;
        transform: translateY(0px) translatex(-10px);
        height: auto !important;
        z-index: 1;
    }

#opennigsec {
    background-color: var(--sblue);
    background-image: url('../image/homepage/Artboard 1.png');
    background-size: auto;
    background-position: center;
    background-size: auto 400px;
    background-position-x: right;
    background-position-y: bottom;
    display: inline-block;
}

.sec300 {
    height: 400px;
    /*width: calc(100vw - 30px);
    BORDER: 5PX SOLID BLACK;
    MARGIN: 0PX 10px 10px 10px;*/
    width: var(--wwwind);
    min-Width: 1263px;
    max-width: 1384px;
}

#bananasec {
    background-color: var(--spurple);
}

#bananasec {
    background: -moz-linear-gradient(45deg, rgba(70,219,224,0.45) 1%, rgba(60,206,229,1) 100%);  FF3.6-15
    background: -webkit-linear-gradient(45deg, rgba(70,219,224,0.45) 1%,rgba(60,206,229,1) 100%);  Chrome10-25,Safari5.1-6
    background: linear-gradient(45deg, rgba(70,219,224,0.45) 1%,rgba(60,206,229,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
}

#bikesec {
    background-color: var(--syellow);
}

#bike {
    background-image: url('../image/homepage/bike.png');
    background-size: 550px 387px;
    animation: bike-dance 1s infinite;
    width: 550px;
    height: 387px;
    float: left;
    -webkit-animation-play-state: running;
    animation-timing-function: cubic-bezier(0, 0, 1, 0.99);
    animation-play-state: running;
    position: relative;
    transform: rotate(22deg);
}
@keyframes bike-dance {
    0% {
top:20px;
    }

    50% {
top:-50px;
    }

    100% {
        top: 19px;
        ;
    }
}

#logo {
    width: 42px;
    height: 42px;
    background-image: url('../image/logo.png');
    background-size: 42px 42px;
    display: inline-block;
    position: absolute;
    top: 3px;
}

    #logo:hover {
        cursor: pointer !important;
        background-image: url('../image/logoh.png');
    }

#h1logo {
    font-weight: bold;
    color: black;
    font-size: 90px;
    height: 205px;
    line-height: 29px;
    margin-bottom: -13px;
    padding-bottom: 173px;
    padding-right: 92px;
    padding-top: 121px;
    margin-top: 11px;
    margin-right: 89px;
    background-size: 428px 293px;
    width: 428px;
    position: relative;
    background-position-y: 1px;
    bottom: 49px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(8deg);
    background-image: url('../image/tips/Asset 3@2x.png');
}

    #h1logo > span {
        -webkit-transform: rotate(3deg) !important;
        -moz-transform: rotate(1deg);
        display: inline-block;
    }

    #h1logo span span {
        font-size: 30px;
        line-height: 13px;
        margin-top: 0px;
        padding-right: 10px;
        font-weight: bold;
    display:inline-block;
        }



#intob {
    background-color: blue;
    width:55vw;
    margin: 50px 2.5vw;
    height:260px;
    position:relative;
    top:20px;
}

#hazafot{
position:relative;
bottom:51px;
    
}

.abtngif {
    height: 120px;
    background-image: url('../image/homepage/assent.png');
    width: 120px;
    background-size: 240px 109px;
    background-position:left;
    font-family: nehama;
    text-align: center;
    padding-top: 36px;
    margin-top:3px;
    font-size: 32pt;
    line-height: 25pt;
    display: inline-block;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;
    FLOAT: RIGHT;
    MARGIN-RIGHT: 90PX;
    animation: shadow-pulse 0.8s infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 0.99);
    z-index: 2;
    -webkit-animation-play-state: running;
    background-repeat:no-repeat;
    animation-play-state: running;
}

    .abtngif:focus, .abtngif:hover {
        text-decoration: none;
background-position:right

    }

@keyframes shadow-pulse {
    0% {
        filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.8));
        -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.8));
    }
    60% {
        filter: drop-shadow( 8px 8px 2px rgba(0, 0, 0, 0.8));
        -webkit-filter: drop-shadow( 8px 8px 2px rgba(0, 0, 0, 0.8));
    }
    100% {
        filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.8));
        -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.8));
    }
}

#dotsban {
    background-image: url('../image/homepage/dots.svg');
    background-size: 600px 600px;
    width: 400px;
    height: 400px;
    background-position:center;
    float: left;
    position:relative;
    bottom:20px;
    left:50px;
}

.btncrusle {
    width: 250px;
    font-family: nehama;
    text-align: center;
    font-size: 32pt;
    /*-webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;*/
    border-radius: 20px;
    display: inline-block;
    height: 44px;
    position: absolute;
    right: 400px;
    top: 300px;
    line-height: 43px;
    filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8))
}

.btncrusle:hover{
    text-decoration:none;
}

#btnbanana {
    background-color: var(--sblue);
    color:var(--sfont);
}

#btnbanana:hover {
    background-color: var(--sblue-hover);
}

#btnbike {
    background-color: var(--spurple);
    color: var(--sblue);
}

#btnbike:hover {
    background-color: var(--spurple-hover);
}

#banana {
    background-image: url('../image/homepage/banana.svg');
    background-size: 450px 450px;
    animation: banana-dance 1.5s infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 0.99);
    width: 450px;
    height: 450px;
    float: left;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.carousel-inner .carousel-item h3 {
    font-size: 33px;
    position: absolute;
    top: 0px;
    margin-right: 90px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    line-height: 50px;
}

#bananaspan {
    color: yellow;
    display: block;
    font-size: 78px;
    line-height: 95px;
    margin-right: 61px;
    text-shadow: 0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black, 3px -3px 0 var(--sblue),8px -8px 0 var(--sblue),13px -13px 0 var(--sblue);
}
#bikespan {
    color: var(--spurple);
    display: block;
    font-size: 78px;
    margin-right: 61px;
    text-shadow: 0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black, 3px -3px 0 var(--sblue),8px -8px 0 var(--sblue),13px -13px 0 var(--sblue);
    line-height: 95px;
}

#bikesec h3 {
    color: black;
    font-size: 33px;
}

#bikesec #bah3span {
    margin-right: 158px;
    display: block;
}

#bah3span {
    margin-right: 169px;
}

#botsec {
    background-color: var(--sgreen);
    overflow: hidden;
    background-image: url('../image/homepage/photpht.png');
    background-size: 100% auto;
}

#btnbot{
    background-color:var(--spink);
    color:var(--sfont);
}

    #btnbot:hover {
        background-color: var(--spink-hover);
    }

@keyframes banana-dance {
    0% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
    }

    100% {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        ;
    }
}



#hazafot h2 {
    background-color: black;
    color: VAR(--sblue);
    font-family: 'Varela Round';
    FONT-SIZE: 24PX;
    WIDTH: 680PX;
    text-align: center;
    FONT-WEIGHT: BOLD;
    margin-bottom: 0;
}

#shiul{
    padding-top:50px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius:100px;
}

.carousel-inner {
    height:400px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height:35px;
    width:35px;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}


#d0211 {
    background-color: var(--syellow);
    height: calc(80vh - 50px);
}

#d1995 {
    background-color: var(--spink);
    height: calc(80vh - 50px);
}

article {
    background: -moz-linear-gradient(45deg, rgba(70,219,224,1) 0%, rgba(69,218,224,1) 1%, rgba(0,163,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9946dbe0', endColorstr='#00a3cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 10px 177px 1px 0;
}

article header p {
    width:600px;
}

article h2 {
    font-family: nehama;
    font-size: 32pt;
    line-height: 25pt;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;
}

article h3{
    font-weight:bold;
    font-size:15px;
}

article section p{
    font-size:14px;
}

.whitesec {
    width: 900px;
    background-color: white;
    padding: 01px 0px;
    margin: 0px 0px 30px 0px;
    background-size: 60px 60px;
    background-attachment: fixed;
    background-size: 40px 40px;
    background-position: center;
    background-image:none !important;
}

.blueback {
    background: -moz-linear-gradient(45deg, rgba(70,219,224,1) 0%, rgba(69,218,224,1) 1%, rgba(0,163,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(70,219,224,1) 0%,rgba(69,218,224,1) 1%,rgba(0,163,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9946dbe0', endColorstr='#00a3cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 19px 20px;
    padding: 13px;
    overflow: hidden;
    height:240px;
}

.medicen {
    display: inline-block;
    width: 500px;
    margin: 0px 0px;
    padding: 0px 0px;
}


article h1 {
    text-shadow: 0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,0 0 7px black,10px 10px 0px black, 5px 5px black, 15px 15px black, 12px 12px black; 
    -webkit-text-stroke-width: 2PX;
    -webkit-text-stroke-color: yellow;
    font-size: 80px;
    color:yellow;
}

#dogphoto {
    background-image: url('../image/dogs/dog.svg');
}

.pagephoto{
    display: inline-block;
    height: 274px;
    width: 230px;
    background-size: 230px 308px;
}

#shiulphoto {
    background-image: url('../image/shiul/Asset 1.svg');
    background-size: 318px 277px;
    position: relative;
    left: 20px;
    height: 258px;
    width: 318px;
    top: 16px;
}

#preiodphoto {
    background-image: url('../image/preiod/Asset 3.svg');
    background-size: 318px 277px;
    position: relative;
    left: 20px;
    height: 273px;
    width: 318px;
    top: 1px;
}

#stomachphoto {
    background-image: url('../image/stomech/Asset 2.svg');
    background-size: 318px 277px;
    position: relative;
    height: 273px;
    width: 318px;
    top: 1px;
}

.headertxt {
    display: inline-block;
    width: 600px;
    margin-left: 70px;
    vertical-align: top;
    padding-top: 30px;
}

#periodheadertxt{
    margin-left:18px;
}

#periodheadertxt>p {
    width: 575px;
}

article header {
    height: 274px;
}



.tip {
    display: inline-block;
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: top;
    padding: 30px;
    width: 300px;
    height: 200px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    background-repeat:no-repeat;
    float:left;
}

.tip1 {
    background-image: url('../image/tips/Asset 1.svg');
    background-size: 423px 204px;
    width: 320px;
    height: 213px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    background-position: center;
    text-align: center;
}

.tip2 {
    background-image: url('../image/tips/Asset 2.svg');
    height: 281px;
    position: relative;
    padding: 49px 49px 63px 31px;
    text-align: center;
    background-size: 280px 272px;
    bottom: 21px;
    right: 11px;
}

.tip3 {
    background-image: url('../image/tips/Asset 3.svg');
    height: 257px;
    width: 334px;
    position: relative;
    padding: 45px 49px 73px 122px;
    text-align: center;
    background-size: 401px 237px;
    bottom: -5px;
    right: 73px;
}

.tip3 h3, .tip3 p {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

#bottle2 {
    background-image: url('../image/Layer 7.png');
}

.tafrit{
    width:448px;
    display:inline-block;
}

.tafrit2 {
    width: 408px;
    height: 400px;
    margin:20px;
}

.tafrit2 h2{
    font-size:41px;
}

article > h2 {
    margin-top: 30px;
}

.moreinf {
    margin-top: 30px;
}

.moreinf p {
font-size:18px;
}

.finishline{
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
    width:900px;
    margin-top:0px;
}

.smallbs{
    height:260px !important;
}

#stopallbtn {
    display: inline-block;
}

.playstop{
    background-color: transparent;
    color: var(--sfont);
    font-family: nehama;
    font-size: 18px;
    border-radius: 40px;
    padding: 0px 20px;
    /*position: sticky;
    height: 30px;
    right: 100px;
    float:left;
    margin-left:100px;
    margin-top:15px;*/
    border: 1px solid black;
    width:120px;
}

#playallbtn {
    display: none;
}

.playstop:hover {
    background-color: var(--spink-hover);
    cursor:pointer;
}

#undifiendsec {
    background-image: url('../image/undifiend/Untitled-2.png');
    background-position: bottom right;
    background-color: var(--sblue);
    background-size: 100% auto;
    height: 450px;
    overflow: hidden;
}

#h1und{
    font-family: nehama;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.5PX;
    -webkit-text-stroke-color: black;
    margin-right: 95px;
    font-size: 40pt;
    
}

.undgif {
    float: left;
    MARGIN-left: 100PX;
    margin-right:0px;
}

#undifiendsec #hazafot{
    bottom:0px;
top:50px;
}

    #undifiendsec #hazafot .abtngif {
        bottom: 0px;
        top: 33px;
        position: relative;
        left: 500px;
    }

#botnosavta {
    background-image: url('../image/homepage/bot.png');
    height: 300px;
    width: 280px;
    background-size: 280px 300px;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

#botsavta {
    background-image: url('../image/homepage/savtabot.png');
    height: 300px;
    width: 280px;
    background-size: 280px 300px;
    position: absolute;
    bottom: 0px;
    left: 100px;
}

#botnsbubble {
    background-image: url('../image/tips/Asset 1.svg');
    background-size: 250px 250px;
    PADDING-TOP: 60PX;
    PADDING-RIGHT: 20PX;
    padding-left:20px;
    height: 250PX;
    width: 250PX;
    background-color: TRANSPARENT;
    POSITION: ABSOLUTE;
    RIGHT: 300PX;
    FONT-SIZE: 20PX;
    -webkit-transform: scalex(-1) rotate(15deg);
    -moz-transform: scalex(-1) rotate(15deg);
    transform: scalex(-1) rotate(15deg);
}
#botnsbubble p {
    transform: scalex(-1)
}


#botsbubble {
    background-image: url('../image/tips/Asset 1.svg');
    background-size: 250px 250px;
    PADDING-TOP: 66PX;
    PADDING-RIGHT: 20PX;
    height: 250PX;
    width: 250PX;
    background-color: TRANSPARENT;
    POSITION: ABSOLUTE;
    left: 328PX;
    FONT-SIZE: 20PX;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite; 
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0
    }

    25% {
        width: 100%
    }

    100% {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


.arak {
    background-image: url('../image/ICON/arak.png');
}

.tea {
    background-image: url('../image/ICON/glass-of-water.png');
}

.tea1 {
    background-image: url('../image/ICON/tea.png');
}

.ginger {
    /*background-image: url('../image/ICON/ginger.png');*/
    background-image: url('../image/ICON/Asset 1@2x.png');
    background-size:100px 100px;
}

.lemom {
    background-image: url('../image/ICON/lemon (1).png');
}

.lemon1 {
    background-image: url('../image/ICON/lemon.png');
}

.honey {
    background-image: url('../image/ICON/honey.png');
}

.pot {
    background-image: url('../image/ICON/pot (1).png');
}

.pot1 {
    background-image: url('../image/ICON/pot.png');
}

.parasite {
    background-image: url('../image/ICON/parasite.png');
}

.parasite1 {
    background-image: url('../image/ICON/parasite (1).png');
}

#container > footer {
    background-color: var(--sgreen);
    padding-bottom: 10px;
    height: 300px;
    overflow: hidden;
    width: var(--wwwind);
    min-Width: 1263px;
    max-width: 1384px;
}

#container > footer h4{
text-align:center;
padding-bottom:0px;
padding-top:20px;
font-size:18px;
}

#container > footer>section{
width: 90%;
margin: 0 auto;
border-bottom: 2px dashed black;

}



#container > footer>ul {
    list-style:none;
    margin-bottom:0;
    display:inline-block;
    width:885px;
    vertical-align:top;
    margin-top:20px
}

#container > footer ul{
        list-style:none;

}

#container > footer>ul>li{
    padding-left:30PX;
    display:inline-block;
    vertical-align:top;
    text-align:right;
    color:var(--sfont) !important;
    font-weight:bold;

}

#container > footer > ul > li >ul{
padding-right:0px;
font-weight:normal;
padding-top: 7px;
    }

#container > footer>ul>li>a{
    color:var(--sfont) !important;
        padding-bottom:10px;
}

#container > footer > ul > li > ul> li> a {
    color: var(--sfont) !important;
}

.aiswork{
    text-decoration:underline;
    cursor:pointer;
}

#container > footer a.aiswork:hover {
    text-decoration: underline;
    color: #8F0037 !important;
    cursor: pointer !important;
}

#container > footer a:hover{
    text-decoration:none;
}

#interactivesec {
    background: -moz-radial-gradient(center, ellipse cover, rgba(101,219,236,1) 1%, rgba(65,157,226,1) 99%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(101,219,236,1) 1%,rgba(65,157,226,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(101,219,236,1) 1%,rgba(65,157,226,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
overflow:hidden;
}

#freepikdiv {
    background-image: url(../image/tips/freepik.svg);
    background-size: 347px 300px;
    background-position-y: -58px;
    width: 347px;
    height: 244px;
    padding: 58px 43px 10px 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: -11px;
    left: 24px;
    text-align: center;
}

#gotfont {
    font-family: 'Game of Thrones';
    font-size: 25px;
    padding-left: 10px;
}


.acssesh {
    text-indent: -10000px;
    direction: ltr;
    text-align: left;
    display: block;
    position: absolute;
    overflow: hidden;
}
ul.skip {
    position: absolute
}

ul.skip li {
    position: absolute;
    height: 1;
}

a.skip {
    font-size: 1.4em;
    height: 1px;
    left: 0;
    position: absolute;
    top: -1000px;
    width: 1px;
    color: #fff;
}

    a.skip:focus, a.skip:active {
        background-color: #f8f9fb;
        color: #5c5c5c;
        font-weight: bold;
        height: auto;
        font-size: 15px;
        background-image: url('../img/logo.png');
        background-position: 255px;
        background-repeat: no-repeat;
        background-size: 30px;
        font-size: 15px;
        padding: 8px 25px 8px 15px;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 70px;
        border: 3px solid black;
        width: 295px;
        z-index: 90;
        color: #000 !important;
        outline: none;
        border-radius: 60px;
    }

#loadpage {
    width: 100vw !important;
    height: 100vh !important;
    background-image: url(../image/homepage/Untitled-1.gif);
    background-size: auto 70vh;
    position: fixed;
    background-repeat: no-repeat;
    z-index: 500;
    background-color: VAR(--sblue);
    background-position: center;
    background-position-y: 20VH;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

    #loadpage h1 {
        font-family: 'Varela Round';
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1PX;
        -webkit-text-stroke-color: black;
        padding-top: 29PX;
        font-size: 53PX;
        FONT-WEIGHT: BOLD;
    }

.arakbt {
    position: absolute;
    height: 300px;
    width: auto;
    opacity: 0;
}

#arak {
    position: fixed;
    right: 52px;
}

#arak1 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}
#arak2 {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-8deg);
}
#arak3 {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
}
#arak4 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#arak5 {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}
#arak6 {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
}
#arak7 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}
#arak13 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

#arak12 {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-8deg);
}

#arak11 {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
}

#arak10 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#arak9 {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

#arak8 {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
}

figure figcaption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

figure img {
    width: 100%;
}

figure {
    width: 400px;
    display: inline-block;
    margin: 40px 25px;
}


.bigfig {
    width: 850px;
}

.stotafrit {
    width: 900px;
    padding-right: 0px;
}

    .stotafrit li {
        width: 200px;
        margin: 0px 10.5px 40px 10.5px;
        padding-top: 200px;
        background-position: top;
        background-repeat: no-repeat;
        list-style: none;
        display: inline-block;
        text-align: center;
        background-size: 200px 200px;
        font-size: 20px;
    }

.yeseat li:nth-child(1) {
    background-image: url('../image/stomech/yesbanana@2x.png');
}

.yeseat li:nth-child(2) {
    background-image: url('../image/stomech/yessumar@2x.png');
}

.yeseat li:nth-child(3) {
    background-image: url('../image/stomech/yesapple@2x.png');
}

.yeseat li:nth-child(4) {
    background-image: url('../image/stomech/yesrice@2x.png');
}

.noteat li:nth-child(1) {
    background-image: url('../image/stomech/notoil@2x.png');
}

.noteat li:nth-child(2) {
    background-image: url('../image/stomech/notorange@2x.png');
}

.noteat li:nth-child(3) {
    background-image: url('../image/stomech/notmilk@2x.png');
}

.noteat li:nth-child(4) {
    background-image: url('../image/stomech/notcoffee@2x.png');
}

.tafrith3 {
    width: 900px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#seven210preiod {
    background-image: url('../image/preiod/Artboard 1@2x.png');
    background-size: 887px 115px;
    padding-top: 10px;
    background-position: bottom;
    padding-bottom: 115px;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 20px;
}

.shiukcuos li{
    margin:30px 10.5px;
}

.shiukcuos li:nth-child(1) {
    background-image: url('../image/shiul/shiul1@2x.png');
}
.shiukcuos li:nth-child(2) {
    background-image: url('../image/shiul/shiul2@2x.png');
}
.shiukcuos li:nth-child(3) {
    background-image: url('../image/shiul/shiul3@2x.png');
}
.shiukcuos li:nth-child(4) {
    background-image: url('../image/shiul/shiul4@2x.png');
}
.shiukcuos li:nth-child(5) {
    background-image: url('../image/shiul/shiul5@2x.png');
}
.shiukcuos li:nth-child(6) {
    background-image: url('../image/shiul/shiul6@2x.png');
}
.shiukcuos li:nth-child(7) {
    background-image: url('../image/shiul/shiul7@2x.png');
}
.shiukcuos li:nth-child(8) {
    background-image: url('../image/shiul/shiul8@2x.png');
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    z-index:2;
    font-family:'Varela Round';
}

    .tooltip .tooltiptext {
        /*visibility: hidden;*/
        width: 250px;
        background-color: var(--spurple-hover);
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 230px;
        left: 2000Px;
        margin-left: -60px;
        font-weight:normal;
        font-family:'Varela Round';
        font-size:14px !important;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent var(--spurple-hover) transparent;
        }

    .tooltip:hover .tooltiptext {
        left:35PX;
    }

    .tooltip:focus .tooltiptext {
        left: 35PX;
    }


    .tooltip:hover {
        font-weight: bold;
    }

    .tooltip:focus {
        font-weight: bold;
    }

form {
    width: 900px;
    height: 500px;
    border: 20px solid white;
    background-image: url('../image/contact/savtaCalling.png');
    background-size: auto 501px;
    background-position-y: 13px !important;
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom:30px;
}

label{
    display:block;
    margin:10px 10px;
}

input, textarea {
    display: block;
    width: 200px;
}

.labelNames{
    font-size:20px;
    font-weight:bold;
}


#Sendbtn {
    width: 202px;
    font-family: nehama;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    display: inline-block;
    height: 33px;
    position: relative;
    right: 320px;
    bottom: 20px;
    line-height: 30px;
    filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    background-color: var(--spink);
    color: black;
    border: none;
}

form h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Varela Round';
    -webkit-text-stroke: transparent;
    color: black;
    -webkit-text-fill-color: unset;
    margin-top: 20PX;
    margin-bottom: -10PX;
    MARGIN-RIGHT: 10PX;
}

.stam {
    color: var(--spurple-hover);
}

#feedback {
    background-image: url('../image/tips/Asset 1s@2x.png');
    width: 228px;
    padding: 12px 12px 25px 12px;
    line-height:19px;
    text-align: center;
    font-weight: bold;
    color: black;
    height: 131px;
    position: relative;
    bottom: 152px;
    right: 421px;
    background-size: 229px 131px;
    transform: rotate(-15deg);
    opacity: 0;
}

#cupoftea {
    background-image: url('../image/homepage/kisspng3-green-tea-coffee-iced-tea-lemon-tea-png-transparent-image-5a78f0e6efdf76.7803481515178754309825.png');
    background-size: 450px 361px;
    width: 450px;
    height: 361px;
    position: relative;
    bottom: 258px;
    left: 33px;
    float: left;
    opacity: 0.8;
    z-index:20;
}

#teaspan {
    color: black;
    display: block;
    font-size: 78px;
    margin-right: 61px;
    text-shadow:3px -3px 0 var(--syellow),8px -8px 0 var(--syellow);
    line-height: 95px;
}

#interactivesec h3 {
    color: black;
    font-size: 33px;
    font-weight: bold;
    margin-right: 94px;
    margin-top: 59px;
}

#tea3span{
    margin-right:100px;
    display:block;
}
#interactivesec .btncrusle {
    position: relative;
    top: 60px;
    background-color: var(--syellow);
}

.footerbtn {
    background-color: var(--sgreen);
    border: 1px solid black;
    border-radius: 33px;
    width: 200px;
    display: inline-block;
    height: 35px;
    text-align: center;
    color: black;
    line-height: 35px;
    font-weight: bold;
    margin: 0 183px 10px;
}

.footerbtn:hover, .footerbtn:focus{
    background-color:var(--sgreen-hover);
    color:black;
    text-decoration:none;
    cursor:pointer !important;
}

.longht{
    width:900px !important;
    height:200px;
}

.longhh{
    height:200px !important;
}

h2.tafrith3{
    font-family:'Varela Round';
    -webkit-text-stroke:unset;
    -webkit-text-fill-color:black;
    margin-top:45px;
}
#courses {
padding:0;
width:900px;
}
    #courses li {
        width: 200px;
        margin: 10.5px;
        display: inline-block;
        padding-top: 200px;
        text-align: center;
        height: 220px;
        list-style: none;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 200px 200px;
        font-size: 20px;
    }

    #courses li:nth-child(1) {
        background-image: url('../image/about/code@2x.png');
    }
    #courses li:nth-child(2) {
        background-image: url('../image/about/ux@2x.png');
    }
    #courses li:nth-child(3) {
        background-image: url('../image/about/ui@2x.png');
    }
    #courses li:nth-child(4) {
        background-image: url('../image/about/accws@2x.png');
    }

.abouthef{
    display:inline-block;
    width:450px;
}

.abouthef img{
    width:400px;
    height:400px;
    margin:0 25px;
}

.abouthef h2{
    text-align:center;
    display:inline-block;
    width:450px;
}

iframe {
    width: 707px;
    height: 532px;
    margin: 0 96px;
}

#interactivebtn {
    border: 1px solid black;
    border-radius: 33px;
    width: 200px;
    display: inline-block;
    height: 35px;
    text-align: center;
    color: black;
    line-height: 35px;
    font-weight: bold;
    margin-right:20px;
}

#interactivebtn:hover{
    background-color:var(--sblue-hover);
    text-decoration:none;
}

#circlespoon {
    position: relative;
    height: 200px;
    width: 200px;
    right: 171px;
    bottom: 253px;
    animation: spoon-dance 4s infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    background-image: url(../image/homepage/lemon.png);
    background-size: 200px 200px;
    z-index: 1;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    float:left;
}


@keyframes spoon-dance {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

#goals {
    width: 900px;
    height: 480px;
    background-image: url('../image/about/goals.png');
    background-size:900px;
}

#goals ul{    
    position: relative;
    top: 190px;
    right: 325px;
}

#goals ul li{
    padding: 30.5px 0px;
    list-style:none;
    width: 400px;

}

#goals ul li:nth-child(1){
    padding-right: 10px;
    padding-top: 43px;
}

#goals ul li:nth-child(2){
        padding-right: 30px;
            padding-top: 18px;

}

#goals ul li:nth-child(3){
    padding-right: 10px;
    padding-top: 20px;

}

#behindsavta {
    width: 900px;
    padding-right: 0;
}


/*האנשים מאחורי סבתא + הובר*/
    #behindsavta li {
        width: 200px;
        height: 250px;
        padding-top: 210px;
        background-repeat: no-repeat;
        margin: 48px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        list-style: none;
        background-image: url('../image/about/PHOTO.png');
        background-size: 200px 200px;
        margin-bottom: 30px;
    }



.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

.dadrkk {
    height: 200px;
    width: 200px;
    background-color: black;
    position: relative;
    bottom: 233px;
    opacity: 0.5;
    display:none;
}

    .hovereffect:hover .dadrkk {
display:block;
    }

    .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 17px;
        padding: 10px;
        width: 100%;
    }

    .hovereffect:hover h2 {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
        transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    }

    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
    }

        .hovereffect a.info:hover {
            box-shadow: 0 0 5px #fff;
        }

    .hovereffect .rotate {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 100%;
        height: 100%;
        position: absolute;
        top: -9%;
    }

    .hovereffect hr {
        width: 50%;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        .hovereffect hr:nth-child(2) {
            -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
            transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
        }

        .hovereffect hr:nth-child(3) {
            -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
            transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
        }

    .hovereffect h2, .hovereffect hr {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 50%;
        background-color: transparent;
        margin: 0px;
    }

.group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.group1 {
    top: 50%;
    right: 30%;
}

.group2 {
    top: 50%;
    right: 10%;
}

.hovereffect p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
}

    .hovereffect p a {
        color: #fff;
    }

        .hovereffect p a:hover,
        .hovereffect p a:focus {
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

.hovereffect a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 10px;
    font-size: 20px;
}

.group1 a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
}

.group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
}

.group2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
}

.group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0) rotate(45deg) scale(2);
    transform: translate3d(60px,60px,0) rotate(45deg) scale(2);
}

.hovereffect:hover hr:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
}

.hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) rotate(45deg) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

#allbotpage {
    background-color: var(--sblue);
    background-size: 100% auto;
    height: 450px;
    overflow: hidden;
}

#botpage{
}

#botpage > div {
    height: 380px;
    width: 300px;
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 170px;
}

#mebot {
    background-image: url('../image/homepage/bot.png');
    background-size: 202px 220px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#answerbot {
    background-image: url('../image/homepage/savtabot.png');
    background-size: 202px 220px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#mebot > div {
    background-image: url('../image/tips/Asset 1s@2x.png');
    height: 202px;
    width: 284px;
    background-size: 285px auto;
    margin-right: 66px;
}

#botquet{
position: relative;
margin-right: 17px;
top: 18px;
border-radius: 14px;
transform: rotate(-2deg);
    width: 250px;
}

#botbut {
    position: relative;
    margin-right: 35px;
    top: 18px;
    border-radius: 14px;
    transform: rotate(-2deg);
    background-color: var(--spink);
    border: none;
    width: 132px;
    margin: 10px 136px;
    filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8))
}

#answerbot>div {
    background-image: url('../image/tips/Asset 1@2x.png');
    height: 202px;
    width: 284px;
    background-size: 285px auto;
    margin-right: -66px;
}

#botbut:hover, #botbut:focus {
    background-color: var(--spink-hover);
    cursor:pointer;
}

#theanswer {
    padding: 24px;
    height: 68px;
    font-size:13px;
}

#bottopage {
    position: relative;
    margin-right: 35px;
    border-radius: 14px;
    transform: rotate(2deg);
    background-color: var(--spurple);
    border: none;
    width: 132px;
    margin: 10px 136px;
    filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow( 4px 4px 2px rgba(0, 0, 0, 0.8));
    width: 130px;
    height: 26px;
    text-align: center;
    display: none;
    line-height: 26px;
    color: white;
    text-decoration: none;
    top: 1px;
    left: -2px;
}

    #bottopage:hover, #bottopage:focus{
        background-color:var(--spurple-hover);
    }

    #interactivesec .btncrusle:hover, #interactivesec .btncrusle:focus {
        background-color: var(--syellow-hover);
    }

#Sendbtn:hover,#Sendbtn:focus{
    background-color:var(--spink-hover);
    cursor:pointer;
}